@model List<ProductModel>

<html>
<head>
    <link rel="stylesheet" href="~/css/ShopView.css">
</head>
<body>
    @foreach (var item in Model)
    {
        <div class="box">
            <span>
                <img src="~/img/products.jpg" style="width:45%">
            </span>
            <span>
                <h3>@item.Name</h3>
            </span>
            <span class="text-black-50" style="font-size:20px">@item.CategoryName</span>
            <span>
                <label asp-for="Count" class="control-label"></label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>

                <button class="btn btn-dark">✚</button>
            </span>
        </div>
    }
</body>
</html>
