@model List<ProductModel>

<html>
<head>
    <link rel="stylesheet" href="~/css/ShopView.css">
</head>
<body>
    @foreach (var item in Model)
    {
        <div class="box">
            <span>
                <img src="~/img/products.jpg" style="width:65%">
            </span>

            <span>
                <h2>@item.Name</h2>
            </span>

            <span class="text-black-50" style="font-size:20px">
                <h3>@item.CategoryName</h3>
            </span>

            <span>
                <h4>Price: @String.Format("{0:0.##}", item.Price) ֏</h4>
            </span>

            <span>
                <input type="number" name="productCount">
                <input type="submit" value="Add To Cart" asp-controller="Cart" asp-action="AddToCart" />
            </span>
        </div>
    }
</body>
</html>