body {
}
table, th, td {
    border: 2px solid black;
}

th {
    background-color: #212F3C;
    color: cornsilk;
    font-style: oblique;
    font-variant: normal;
    text-align: center;
}

td {
    text-align: center;
}