@{ ViewData["Title"] = "Privacy Policy"; }
<h1>@ViewData["Title"]</h1>

<p>Unofficial web-site of a non-existing shop, which is connected to a database.</p>
<p>
    Menthor - Arsen Kostandyan | <a href="https://www.linkedin.com/in/arsen-kostandyan/">LinkedIn</a>
</p>
<p>
    Junior - Ben Atanesyan | <a href="https://www.linkedin.com/in/benatanesyan/">LinkedIn</a>
</p>
